*.[o]
*~

*.lib
XTAGS
*.Po
misc/raytracing/**/autom4te.cache
misc/raytracing/**/aclocal.m4
misc/raytracing/**/config.log
misc/raytracing/**/config.status
misc/raytracing/**/configure
misc/raytracing/**/depcomp
misc/raytracing/**/Makefile.in
misc/raytracing/**/missing
misc/raytracing/**/install-sh
misc/raytracing/**/COPYING
misc/raytracing/**/INSTALL
misc/raytracing/**/Makefile
misc/raytracing/*/*.exe
misc/raytracing/*/*.ppm
tool/build/define_variables_custom.bat
external
.*.swp
tags
*.stackdump
vim/Session.vim
