*.[o]
*~

*.lib
XTAGS
*.Po
*.m4
*.cache
misc/raytracing/**/config.log
misc/raytracing/**/config.status
misc/raytracing/**/configure
misc/raytracing/**/depcomp
misc/raytracing/**/Makefile.in
misc/raytracing/**/missing
misc/raytracing/**/install-sh
misc/raytracing/**/COPYING
misc/raytracing/**/INSTALL
misc/raytracing/**/Makefile
misc/raytracing/*/*.exe
misc/raytracing/*/*.ppm
