/**
  @file     precompiled.h
  @brief    The precompiled source for <module_name>.
  @author   HRYKY
  @version  $Id: hryky-template.l 291 2013-12-23 10:14:05Z hryky.private@gmail.com $
 */
#ifndef PRECOMPILED_H_<date>
#define PRECOMPILED_H_<date>
#include "hryky/config.h"
//------------------------------------------------------------------------------
// macro definition
//------------------------------------------------------------------------------
//------------------------------------------------------------------------------
// namespace
//------------------------------------------------------------------------------
namespace hryky
{
namespace <module_name>
{
} // namespace <module_name>
} // namespace hryky
//------------------------------------------------------------------------------
// struct declaration
//------------------------------------------------------------------------------
//------------------------------------------------------------------------------
// class declaration
//------------------------------------------------------------------------------
//------------------------------------------------------------------------------
// global function prototypes
//------------------------------------------------------------------------------
namespace hryky
{
namespace <module_name>
{
} // namespace <module_name>
} // namespace hryky
//------------------------------------------------------------------------------
// global function definitions
//------------------------------------------------------------------------------
#endif // PRECOMPILED_H_<date>
// end of file
